.home.jumbotron {
    background-color: #343a40;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 200;
}

.jumbotron p strong { 
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}

.header-text {
    background-color: #343a40;
    border-radius: 6px;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 20px 10px 20px 60px;
    color: white;
}

.expand-text {
    color: #ff6600;
    font-size: 15px;
}