
.hacker-item {
    padding: 0px 0px 0px 0px;
    color: white;
}

.hacker-item a {
    color: #6c757d !important;
    text-decoration: none;
    background-color: transparent;
}

.hacker-item .glyphicon{
    font-size: 15px;
    padding: 0px 5px;
}

.hacker-item .btn.btn-default{
    color: #ff6600;
}

.hacker-item .item-title{
    font-family: 'Helvetica';
    font-weight: bold;
}

.item-num {
    font-size: 15px;
    padding-right: 10px;
}

.item-user-name {
    font-weight: bold;
    color: #ff6600;
}