<div class="media hacker-item text-muted pt-3">
  <strong class="item-num">{{$parent.$index + 1}} |</strong>
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark item-user-name">@{{ctrl.data.by}}</strong>
      <strong class="item-title">{{ctrl.data.title}}</strong>
      <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
      </p>
  </div>
      
