<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="mr-3" src="../favicon.ico" alt="" width="48" height="48">
  <a class="hacker-navbar-brand" href="#">Hacker News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">home |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="app.welcome"> welcome |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> threads |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> comments |</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <ui-view></ui-view>
</div>